@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fleur+De+Leah&family=Josefin+Slab:ital,wght@1,600&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
* {
  outline: 1px solid blue !important;
} */

html {
  width: 100%;
  height: 100%;
  background-color: black;

}

.sectionHome {
  text-align: center;
  padding-top: 4%;

}
.btnMenu, .btnOrders, .btnKitchen{
  width: 20%;
  padding: 5%;
  margin: 2%;
  background-color: #B63D50;
  font-family: 'Fleur De Leah', cursive;
  text-decoration: none;
  font-size: 40px;
  border-radius: 50%;
  border: outset 4px #CA5E7C;
  color: white;
}

.btnHome :active {
  position: relative;
  top: 5px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    border: solid #B63D50;
  
  }

.logoMain{
  width: 60%;
  height: 60%;

}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;

}
.btnsHeader{
  background: black;
  width: 100%;
 margin-bottom: 10%;
}
.btnsHeader:active {
  position: relative;
  top: 5px;
}
   
.logoHome button,
.logoMenu button,
.logoKitchen button,
.logoOrders button {
  display: flex;
 justify-content: space-between;

  }

.viewMenu{
display: flex;
justify-content: space-around;
flex-direction: row;
margin-top: 3%;
}

.containerMenu{
width: 40%;
height: 100%;
}

h2{
  font-family: 'Fleur De Leah', cursive;
  font-size: 40px;
  text-align: center;

}

.dataClient{
  background: #B63D50;
 text-align: center;
 display: flex;
 justify-content: space-around;
 padding: 1%;
 border: solid 1px black;


}
 .name, .table {
  background: #B63D50;
  color: white;
  padding: 2%;
  margin-top: 1%;
  font-size: 18px;
 
}
.name::placeholder, .table::placeholder{
  color:white;
}
.btnSend{
  border: solid #F6C771;
  border-radius: 100%;
  background:  #ffc519;
  font-size: 15px;
  color: white;
  padding: 2%;

}
.btnSend:active {
  position: relative;
  top: 3px;
  color: rgb(250, 250, 250);
}
.btnSend:hover {
  background-color: #7b6215;
}
.containerDrinksFood{
  width: 100%;
  height: 10%;
  margin-top: 2%;
  
}
.btnFood{
  width: 50%;
  background: #CA5E7C;
  color: white;
  border: solid 1px black;
  padding: 2%;
  font-size: 15px;

}
.btnDrinks{
  width: 50%;
  background: #CA5E7C;
  color: white;
  border: solid 1px black;
  padding: 2%;
  font-size: 15px;
}
.btnFood:active {
  position: relative;
  top: 1px;
  color: rgb(250, 250, 250);
  background: #B63D50;
}

.btnDrinks:active {
  position: relative;
  top: 1px;
  color: rgb(250, 250, 250);
  background: #B63D50;
}
.btnSideDish{
  width: 50%;
  background: #B63D50;
  color: white;
  border: solid 1px black;
  padding: 2%;
  font-size: 15px;

}
.btnSideDish:active {
  position: relative;
  top: 1px;
  color: rgb(250, 250, 250);
  background: #CA5E7C;
  }

.btnExtra{
  width: 50%;
  background: #B63D50;
  color: white;
  border: solid 1px black;
  padding: 2%;
  font-size: 15px;
  }
  .btnExtra:active {
    position: relative;
    top: 1px;
    color: rgb(250, 250, 250);
    background: #CA5E7C;
    }


.printMenu{
  width: 100%;
  background: #891E3C;
  color: white;
  padding: 2%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;

}
.btnItem{
  background: #D18A0A;
  color: white;
  border: none;
  padding: 1%;
  text-align: center;
  margin-top: 2%;
  display: flex;
  flex-direction: row;

}
.btnItem:active{
  position: relative;
  top: 1px;
  color: rgb(250, 250, 250);
  background: #CA5E7C;

}
.containerOrders{
  width: 40%;
  height: 100%;
}
.dataClientPrint{
  background: #B63D50;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 1%;
}
.totalSend{
  background: #B63D50;

}
.btnSendKitchen{
    border: solid #FFC519;
    border-radius: 100%;
    background: white;
    font-size: 15px;
    color: black;
    padding: 2%;
  
  }
  .btnSendKitchen:active {
    position: relative;
    top: 3px;
    color: rgb(250, 250, 250);
    background:#FFC519;
  }
  .btnSendKitchen:hover {
    background-color: #FFC519;
  }

  .btnsAmount{
    width: 30%;
    height: 30%;
  }
  .btnSubtract, .btnPlus, .btnDelete{
    width: 30%;
    height: 30%;
  }

